body {
	background-image:url(imagesWeb/Fond_Internet_red2.jpg);
	background-size: 100% 100%;
	background-color: #CC0033;
	font-family: Helvetica;
	color: #00e4ff;
	text-align: center;
	font-size: 30px;
	
}

img{
	text-align: center;
	margin: auto; 
	width: 50%;
    height: auto;
}

#top {
	border-bottom: 2px solid #00e4ff;
	width: 65%;
	text-align: center;
	margin: auto; // centrer l'élément
}

#main {
	margin-top: 50px;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
}

a:hover {
	color: #f00000;
	text-decoration: none;
}

#loading {

	height: auto;
	margin: auto;
}

#footer {
	font-family: Helvetica;
	color: #000000;
	text-align: center;
	font-size: 15px;
}

.imgFooter{
	height:40px;
	width:auto;
	display: inline;
}