body {
	background-image:url(imagesWeb/Fond_Internet.jpg);
	background-size: 100% 100%;
	font-family: Helvetica;
	color: #00e4ff;
	text-align: center;
	font-size: 30px;
}

img{
	text-align: center;
	margin: auto; 
	width: 50%;
    height: auto;
}

#top {
	border-bottom: 2px solid #00e4ff;
	width: 65%;
	text-align: center;
	margin: auto; // centrer l'élément
}

#main {
	margin-top: 50px;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
}

a:hover {
	color: #f00000;
	text-decoration: none;
}

#loading {

	height: auto;
	margin: auto;
}

#footer {
	font-family: Helvetica;
	color: #000000;
	text-align: center;
	font-size: 15px;
}

.imgFooter{
	height:40px;
	width:auto;
	display: inline;
}

#imgPerso{
	text-align: center;
	margin: auto; 
	width: 100px;
    height: 100px;
}

#defPerso{
	display: inline;
	font-size: 20px;
}

#sectionTitle{
	font-family: Helvetica;
	color: #000000;
	text-align: left;
	margin-left: 20%;
	font-size: 40px;
}

.NomsTeam{
	font-family: Helvetica;
	color: #000000;
	text-align: left;
	margin-left: 23%;
	margin-bottom: 2.5%;
	font-size: 25px;
}

