body {
	background-image:url(imagesWeb/Fond_Internet.jpg);
	background-size: 100% 100%;
	font-family: Helvetica, Arial;
	color: #00e4ff;
	text-align: center;
	font-size: 30px;
}

img{
	text-align: center;
	margin: auto; 
	width: 50%;
    height: auto;
}

#top {
	border-bottom: 2px solid #00e4ff;
	width: 65%;
	text-align: center;
	margin: auto; // centrer l'élément
	font-size: 2vw;
}

#main {
	margin-top: 50px;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
}

a:hover {
	color: #f00000;
	text-decoration: none;
}

#loading {

	height: auto;
	margin: auto;
}

#footer {
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0;
	font-family: Helvetica, Arial;
	color: #000000;
	text-align: center;
	font-size: 15px;
	height : 40px ;
	background-color : #f00000 ;

}

.imgFooter{
	height:auto;
	width:9vw;
	display: inline;
}

#imgPerso{
	/*text-align: center;*/
	margin: auto;
	width: 115px;
    height: auto;
}

#defPerso{
	display: inline;
	font-size: 20px;
}

#sectionTitle{
	font-family: Helvetica, Arial;
	color: #000000;
	text-align: left;
	margin-left: 20%;
	font-size: 2.5vw;
}

.NomsTeam{
	font-family: Helvetica, Arial;
	color: #000000;
	text-align: left;
	margin-left: 23%;
	margin-bottom: 2.5%;
	font-size: 25px;
	
}

textarea{
	height:115px;
	width:250px;
	background:url(imagesWeb/Small/fond-mail.gif) right no-repeat #efefef;
	background-size: 100%;
	max-width: 40%;
}

input{
	background-color: #efefef;
}

#submit{
	background-color: #f0f0f0;
	color:#f00000;
	border-radius: 50px;
}

#button{
	background-color: #f0f0f0;
	color:#f00000;
	border-radius: 50px;
	margin-left: 10px;
}

#subtitle{
	font-size: 2vw;
}

.column{
	font-size: 2vw;
}

#Qualif{
	font-size: 1.5vw;
}
.column2{
	font-size: 1.2vw;
	padding-left: 30px;
}

label{
	font-size: 1.8vw;
}
